.logo {
  width: 38px;
  height: 38px;
}

@include media-breakpoint-down(md) {
  .navbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .logo {
    width: 24px;
    height: 24px;
  }
}

.responsive-menu {
  &-wrapper {
    &:not(.show) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    transition: opacity $transition;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(1, 93, 119, 0.5);
    z-index: 1500;
  }

  &-wrapper.show &-container {
    transform: translateX(0);
    transition: transform $transition;
  }

  &-container {
    position: relative;

    float: right;
    width: 80%;
    height: 100%;
    transform: translateX(100%);

    padding: 60px 20px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-nav__item {
    display: block;
    padding: 15px 0;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
  }
}
