.logo {
  width: 38px;
  height: 38px;
}

@include media-breakpoint-down(md) {
  .navbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .logo {
    width: 24px;
    height: 24px;
  }
}
