$c-main: #679ead;
$c-light-main: #f2f7f8;
$c-dark-main: #015d77;

$c-typo-main: #333333;
$c-typo-acsent: #015d77;
$c-typo-secondary: #80aebb;

$transition: 0.3s ease-in;

// bootstrap customs
$primary: $c-dark-main;
$black: $c-typo-main;
$dark: $c-main;
$light: $c-light-main;
$body-color: $c-typo-main;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto', sans-serif;

$headings-font-weight: 700;

$navbar-padding-y: 1.25rem;
$navbar-brand-margin-right: 2.25rem;

$navbar-dark-color: rgba(white, 0.75);
$navbar-dark-hover-color: white;

$enable-shadows: true;
$box-shadow: 0px 6px 20px rgba(1, 93, 119, 0.4);
$box-shadow-sm: 0px 6px 20px rgba(1, 93, 119, 0.4);
$box-shadow-lg: 0px 6px 20px rgba(1, 93, 119, 0.4);

$link-decoration: none;

$form-label-color: $c-typo-secondary;

$btn-font-weight: 700;
$input-btn-focus-box-shadow: $box-shadow;
$btn-box-shadow: $box-shadow;
$btn-active-box-shadow: $box-shadow;

$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 1.25rem;
$input-line-height: 1.2;
$input-placeholder-color: #c1c1c1;

$input-btn-border-width: 0;
$input-btn-font-size: 20px;
$input-color: $c-typo-main;

$table-cell-padding-y: 7px;
$table-cell-vertical-align: center;
$table-th-font-weight: 500;
$table-hover-bg: $c-light-main;
