@import './media';
@import './fonts';

// bootstrap

@import './vars';
@import '../../node_modules/bootstrap/scss/bootstrap';

// custom styles
@import './header';

// stick to bottom footer
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

a.disabled {
  opacity: 0.65;
}

.c-secondary {
  color: $c-typo-secondary;
}
